In [1]:
# Import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
# 0. Read file and standarize columns header

df = pd.read_csv('marketing_customer_analysis.csv')
df.columns = df.columns.str.lower()

In [3]:
# Check
df.head(5)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [4]:
df.isnull().any()

customer                         False
state                            False
customer lifetime value          False
response                         False
coverage                         False
education                        False
effective to date                False
employmentstatus                 False
gender                           False
income                           False
location code                    False
marital status                   False
monthly premium auto             False
months since last claim          False
months since policy inception    False
number of open complaints        False
number of policies               False
policy type                      False
policy                           False
renew offer type                 False
sales channel                    False
total claim amount               False
vehicle class                    False
vehicle size                     False
dtype: bool

In [5]:
# 1.  Explore Data
# We check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer lifetime value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective to date              9134 non-null   object
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location code                  9134 non-null   object
 11  marital status                 9134 non-null   object
 12  monthly premium auto           9134 non-null   int64
 13  months since last claim        9134 non-null   int64
 14  months since policy inception  9134 non-null   int64
 15  number of open complaints      9134 non-null   int64
 16  number of policies             9134 non-null   int64
 17  policy type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew offer type               9134 non-null   object
 20  sales channel                  9134 non-null   object
 21  total claim amount             9134 non-null   float64
 22  vehicle class                  9134 non-null   object
 23  vehicle size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [6]:
# Check shape

df.shape

(9134, 24)

In [7]:
# We check main features

df.describe()

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [8]:
# 2. Explore data_Done in previous lab
# df.corr()
# sns.pairplot()
# sns.catplot()
# sns.regplot()
# sns.heatmap

In [9]:
# 3. X-y split (iloc allows us to create "subtables")

X = df.iloc[:,:-1]   # Features are all rows and all columns but the last one. This is a DataFrame object
y = df.iloc[:,-1]    # Target (output) are all rows in last column. This is a Series

In [10]:
# We check

X.head(2)

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,months since last claim,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car

In [11]:
y.tail(7)

9127      Small
9128      Large
9129    Medsize
9130    Medsize
9131    Medsize
9132      Large
9133    Medsize
Name: vehicle size, dtype: object

In [12]:
# We check for numerical and categorical columns

numericals_cols = df.select_dtypes(include='number')
categoricals_cols = df.select_dtypes(include='object')

In [13]:
# Create DataFrame for numerical
numerical = df[['customer lifetime value',
                'income',
                'monthly premium auto',
                'months since last claim',
                'months since policy inception',
                'number of open complaints',
                'number of policies',
                'total claim amount']]

In [14]:
#Check
numerical.head(5)

,customer lifetime value,income,monthly premium auto,months since last claim,months since policy inception,number of open complaints,number of policies,total claim amount
0,2763.519279,56274,69,32,5,0,1,384.811147
1,6979.535903,0,94,13,42,0,8,1131.464935
2,12887.431650,48767,108,18,38,0,2,566.472247
3,7645.861827,0,106,18,65,0,7,529.881344
4,2813.692575,43836,73,12,44,0,1,138.130879

In [15]:
categoricals = df[['customer',
                'state',
                'response',
                'coverage',
                'education',
                'effective to date',
                'employmentstatus',
                'gender',
                'location code',
                'marital status',
                'policy type',
                'policy',
                'renew offer type',
                'sales channel',
                'vehicle class',                                      
                'vehicle size']]

In [16]:
# Normalization of numerical
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()   # This is the class

In [17]:
numerical= sc_X.fit_transform(numerical)  # This method actually fits the data and transform the values so theyÂ´re now N(0,1). 
                                          # iMPORTANT: Output is a numpy array

In [18]:
# Data preparation
# Transform Categtorical values. We use One hot encoding by creating dummy variables

categoricals = pd.get_dummies(categoricals)

In [19]:
categoricals

,customer_AA10041,customer_AA11235,customer_AA16582,customer_AA30683,customer_AA34092,customer_AA35519,customer_AA56476,customer_AA69265,customer_AA71604,customer_AA93585,...,sales channel_Web,vehicle class_Four-Door Car,vehicle class_Luxury Car,vehicle class_Luxury SUV,vehicle class_SUV,vehicle class_Sports Car,vehicle class_Two-Door Car,vehicle size_Large,vehicle size_Medsize,vehicle size_Small
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,1,0
9130,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
9131,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
9132,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
9133,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [20]:
categoricals.shape

(9134, 9250)

In [21]:
numerical.shape

(9134, 8)

In [22]:
# We normalize new (numerical) categoricals_cols

categoricals= sc_X.fit_transform(categoricals)

In [23]:
# We now Concat both arrays (numerical and Categorical).

In [24]:
concat = np.concatenate((numerical,categoricals), axis=1)
concat

array([[-0.76287773,  0.61282744, -0.70392465, ..., -0.33990429,
         0.64950407, -0.48923278],
       [-0.14924546, -1.23961684,  0.02269103, ..., -0.33990429,
         0.64950407, -0.48923278],
       [ 0.71063622,  0.36570978,  0.42959581, ..., -0.33990429,
         0.64950407, -0.48923278],
       ...,
       [ 0.02313483, -1.23961684, -0.23889062, ..., -0.33990429,
         0.64950407, -0.48923278],
       [-0.06993547, -0.51735647,  0.08082028, ...,  2.94200461,
        -1.53963622, -0.48923278],
       [-0.78495478, -1.23961684, -0.47140763, ..., -0.33990429,
         0.64950407, -0.48923278]])

In [25]:
# 5. Linear Regression

In [26]:
# Division of Dataset into trains and test set. We take 20% for the test 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=0)

In [27]:
# Apply Linear Regression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

ValueError: could not convert string to float: 'YM43461'

In [ ]:
# I had an issue here I have not been able to fix yet. I will try in the next days

In [ ]:
# Model Validation

# regressor.coef_


# R2, MSE, MAE

# from sklearn.metrics import mean_squared_error
# from sklearn.metrics import mean_absolute_error
# from sklearn.metrics import r2_score